.serial
/.athom-rgbct-light-devices
/.athom-smart-plug-v2-devices
/.domain
/.energy-monitor-devices
/.environmental-devices
/.environmental-v2-devices
/.esp32-cam-devices
/.esphome/
/.password
/.powered-devices
/.presence-devices
/.ultrabrite-smart-wp-devices
/.username
/.word-clock-devices
/athom-rgbct-light.bin
/athom-smart-plug-v2.bin
/energy-monitor.bin
/environmental-v2.bin
/environmental.bin
/esp32-cam.bin
/powered.bin
/presence.bin
/template.bin
/ultrabrite-smart-wp.uf2
/word-clock.bin