.serial
/.athom-rgbct-light-devices
/.athom-smart-plug-v2-devices
/.domain
/.energy-monitor-devices
/.esphome/
/.password
/.presence-devices
/.ultrabrite-smart-wp-devices
/.username
/athom-rgbct-light.bin
/athom-smart-plug-v2.bin
/energy-monitor.bin
/presence.bin
/template.bin
/ultrabrite-smart-wp.uf2